/*
=====================================================
=================== SIMPLE ALERT ====================
=====================================================
|													|
| Version 1									    	|
| Plugin developed by Efren Pacheco					|
| Fullstack developeper								|
| contact me at "efren.pacsac@gmail.com"			|
|													|
| Made on September 20th, 2021						|
|													|
| Description: 										|
|	This is my plugin, as you can see        		|
| in all code you can find comments that will		|
| help you to understand how the plugin works.		|
|													|
| Resources: 										|
|	To create this plugin i used different 		    |
| technologies:										|
| * HTML 											|
| * CSS 											|
| * JQquery											|
|													|
=====================================================
*/

div.simpleAlert-container {
    /* POSITION */
    position: fixed;
    top: 10px;
    right: 10px;

    /* STYLE */
    z-index: 99999;
}

div.simpleAlert {
    /* STYLE */
    width: 300px;
    padding: 20px;
    display: none;
    margin-top: 10px;
    border-radius: 5px;
}

div.simpleAlert a {
    /* POSITION */
    float: right;
    top: -20px;
    right: -20px;
    position: relative;

    /* STYLE */
    width: 30px;
    height: 30px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);

    /* TEXT */
    color: inherit;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

div.simpleAlert p {
    /* TEXT */
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
    word-wrap: break-word;
    text-transform: uppercase;
}

div.simpleAlert span {
    /* TEXT */
    word-wrap: break-word;
}

div.simpleAlert-error-dark {
    /* STYLE */
    background-color: #f44336;
    box-shadow: 3px 3px 12px -1px #000000;  
    -webkit-box-shadow: 3px 3px 12px -1px #000000; 

    /* TEXT */
    color: white;
}

div.simpleAlert-error-light {
    /* STYLE */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 12px -1px #EA7676;
    -webkit-box-shadow: 3px 3px 12px -1px #EA7676; 

    /* TEXT */
    color: #f44336;
}

div.simpleAlert-error-light span {
    /* TEXT */
    color: black;
}

div.simpleAlert-success-dark {
    /* STYLE */
    background-color: #4caf50;
    box-shadow: 3px 3px 12px -1px #000000;  
    -webkit-box-shadow: 3px 3px 12px -1px #000000; 

    /* TEXT */
    color: white;
}

div.simpleAlert-success-light {
    /* STYLE */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 12px -1px #4caf50;
    -webkit-box-shadow: 3px 3px 12px -1px #4caf50; 

    /* TEXT */
    color: #4caf50;
}

div.simpleAlert-success-light span {
    /* TEXT */
    color: black;
}

div.simpleAlert-notification-dark {
    /* STYLE */
    background-color: #2196f3;
    box-shadow: 3px 3px 12px -1px #000000;  
    -webkit-box-shadow: 3px 3px 12px -1px #000000; 

    /* TEXT */
    color: white;
}

div.simpleAlert-notification-light {
    /* STYLE */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 12px -1px #2196f3;
    -webkit-box-shadow: 3px 3px 12px -1px #2196f3; 

    /* TEXT */
    color: #2196f3;
}

div.simpleAlert-notification-light span {
    /* TEXT */
    color: black;
}

div.simpleAlert-warning-dark {
    /* STYLE */
    background-color: #ff9800;
    box-shadow: 3px 3px 12px -1px #000000;  
    -webkit-box-shadow: 3px 3px 12px -1px #000000; 

    /* TEXT */
    color: white;
}

div.simpleAlert-warning-light {
    /* STYLE */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 12px -1px #ff9800; 
    -webkit-box-shadow: 3px 3px 12px -1px #ff9800; 

    /* TEXT */
    color: #ff9800;
}

div.simpleAlert-warning-light span {
    /* TEXT */
    color: black;
}