img#customBackground {
  	filter: blur(8px);
 	-webkit-filter: blur(8px);

	width: 100%;
	height: 100%;
	position: fixed;
	
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
