div.login {
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    margin-top: 9rem;
}

button {
    background-color: #EB5E55 !important;
}

input {
    color: #ffffff;
}

div.input-field input:focus+label,
div.input-field textarea:focus+label {
    /* TEXT */
    /* PRIMARY TEXT: #212121 */
    color: #EB5E55 !important;
}

div.input-field input:focus,
div.input-field textarea:focus,
input.select2-search__field:focus {
    /* 	STYLE */
    /* PRIMARY TEXT: #212121 */
    border-bottom: 1px solid #EB5E55 !important;
    box-shadow: 0 1px 0 0 #EB5E55 !important;
}