div.simpleLoading {
	/* POSITION */
	position: fixed;
	top: 0px;
	left: 0px;
	
	/* STYLE */
	width: 100vw;
	height: 100vh;
	z-index: 99999999999999999999999999999;
	cursor: wait;
	background-color: black;
	color:white;
}